@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

body, html {
  /* background-color: yellow; */
  font-family: 'Open Sans', sans-srif;
  padding: 0;
  margin: 0;
}
h1 {
  font-weight: 800;
  font-size: 50px;
}

h2 {
  font-weight: 800;
  font-size: 50px;
}

h3 {
  font-weight: bold;
  font-size: 30px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
}

p {
  font-weight: bold;
  font-size: 25px;
  margin: 30px 0;
}

.wrapper{
  width: 960px;
  margin: 0 auto;
}

.hero {
  background-color: #007fff;
  min-height: 100vh;
  padding: 50px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.hero h1{
  color: white;
  margin: 14px 0 20px;
}

.hero h3 {
  color: #fff;
  margin: 0 0 35px;
}

.hero h4,
.hero h4 a {
  color: #fff;
  margin: 0;
}

.character1 {
  background: url(img/character1.png) no-repeat 0 0;
  background-size: 100%;
  width: 363px;
  height: 344px;
  position: absolute; 
  top: 10%;
  right: 10%;
  transform: rotate(15deg);
}

.character2 {
  background: url(img/character2.png) no-repeat 0 0;
  background-size: 100%;
  width: 309px;
  height: 371px;
  position: absolute; 
  top: 213px;
  right: 277px;
}

.character3 {
  background: url(img/character3.png) no-repeat 0 0;
  background-size: 100%;
  width: 297px;
  height: 286px;
  position: absolute; 
  bottom: 74px;
  right: 109px;
}

div.cta {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  background-color: #007fff;
  display: inline-block;
  box-shadow: 0 0 0 10px rgba(0, 127, 255, 0.25);
  padding: 20px 30px;
  border-radius: 15px;
}

div.cta.alt {
  background-color: #ffd400;
  color: #111111;
  box-shadow: 0 0 0 10px solid rgba(34, 84, 133, 0.5);
}

div.cta.alt a{
  color: #111111;
  text-decoration: none;
}
/* NAVBAR SECTION */

nav {
  height: 100px;
  background-color: #fff;
  box-shadow: 0 5px 8px rgba(0,0,0,0.2 );
  position: sticky;
  top: 0;
}

nav .logo {
  display: block;
  width: 300px;
  height: 40px;
  position: absolute; top: 50% ; left: 0;
  margin-top: -20px;
  margin-left: 30px;
  background: url(img/logo.png) no-repeat 0 0;
  background-size: 100%;
  overflow: hidden;
  text-indent: -999px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0;
  padding: 0;
  display: block;
  float: right;
}
nav ul li a {
  display: block;
  height: 100%;
  box-sizing: border-box;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #111111;
  text-decoration: none;
  padding: 35px 20px;
  line-height: 30px;
}
 
/* SECTION MORE_INFO */

.more-info {
  text-align: center;
}

.more-info p{
  margin: 18px 0 35px;
}
.more-info h2{
  margin: 50px 0 0;
}

.highlight {
  background-color: #ffadf9;
  color: #ff3300;
  padding: 5px 10px;
  line-height: 50px;
  display: inline;
}

/*  SECTION STORY */

.separator {
  background-color: #111111;
  height: 4px;
  width: 60px;
  margin: 10px auto 40px;
}

.nb-list {
  width: 470px;
  padding: 20px;
}

.nb-list li {
  height: 70px;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  color:#fff;
  display: block;
  padding: 20px;
}

.story {

}

.nb-list li.red {
  background-color: #ff3300;
}

.nb-list li.blue {
  background-color: #007fff;
}

.nb-list li.grey {
  background-color:rgba(0,0,0,0.1);
}

.nb-list li.pink {
  background-color: #ffadf9;
}

.nb-list li.salmon {
  background-color: #fa8072;
}

.nb-list li.yellow {
  background-color: #ffd400;
  color: #111111;
}

.nb-list li.dragging {
  background-color: #ffd400;
  transform: rotate(-8deg);
  background-image: url(img/hand.png) no-repeat 0 0;
}



/* 

  <div class="separator"></div>

  <section id="story"class="story">
    <ul>
      <li class="blue">Rock 'n Roll</li>
      <li>&nbsp;</li>
      <li class="dragging">Laughter</li>
      <li class="blue">Square Offs</li>
      <li class="pink">Circuitous Routes</li>
      <li class="salmon">Trigonometry</li>
      <li clas="blue">Red hats</li>
      <li class="yellow">Being Silly</li>
    </ul>
    <h3>Left: Things We Find Important <br/>Bellow: Our Story</h3>
    <p>Once upon a time there was a group of shapes. They were mostly black and retangular. They were mean and very serious.</p>
    <p>And so they kicked th 3 shapes that didn't conform out of their gang, which was called the Right Angled gang.</p>
    <p>And so these 3 shapes were very sad, but found great joy and comfort being around each other. Tehysoon started having a lot of fun, started rocking and rolling, started being silly, and became the most well-known shap gang in the universe.</p>
    <p>They even started making fun of squares and rectangles in what they like to call "Square offs"!</p>


  </section>
*/